* {
  box-sizing: border-box;
  margin: 0px;
  font-size: 15px;
}

.cars_container {
  display: flex;
  flex-direction: column; 
  border-radius: 200px;
}

.sedan {
  background-color: hsl(31, 77%, 52%);
  padding: 50px 50px 100px 50px;  
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.suv {
  background-color: hsl(184, 100%, 22%);
  padding: 50px 50px 100px 50px;
}

.luxury {
  background-color: hsl(179, 100%, 13%);
  padding: 50px 50px 100px 50px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
 
}

.cars_container p {
  color: hsla(0, 0%, 100%, 0.75);
  font-family: "Lexend Deca", sans-serif;
  font-weight: 400;
  padding-bottom: 20px;
  padding-left: 10px;
  line-height: 2;
  margin-bottom: 30px;
}

.cars_container h3 {
  color: hsl(0, 0%, 95%);
  font-family: "Big Shoulders Display", sans-serif;
  font-weight: 700;
  padding: 10px;
  font-size: 40px;
}

.cars_container img {
  margin-bottom: 20px;
}

.cars_container a {
  text-decoration: none;
  background-color: hsl(0, 0%, 95%);
  padding: 15px 40px 15px 40px;
  margin-left: 5px;
  border-radius: 40px;
}

.sedan a {
  color: hsl(31, 77%, 52%);
}

.suv a {
  color: hsl(184, 100%, 22%);
}

.luxury a {
  color: hsl(179, 100%, 13%);
}

